@charset "UTF-8";

*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: .5em 0;
    color: #4b4946;
    text-decoration: underline;
    text-shadow: 1.5px 1.5px 3px black;
}

fieldset {
    background-color: #fff;
    width: 24%;
    margin: 0 auto;
    padding: 1em;
    border-radius: .5vw;
    box-shadow: 1px 1px 3px grey;
}

legend {
    margin-left: .5em;
    font-size: 1.1rem;
    font-weight: bold;
}

span {
    color: red;
}

input {
    border: inset;
    border-radius: .3vw;
}

label {
    text-align: start;
    padding-right: 8%;
}

.botao {
    padding-top: 1em;
}

.botao input {
    padding: .4em .3em;
    border: outset;

}

input {
    margin-left: 1em;
}