* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav {
  width: 100vw;
  position: fixed;
}

.nav-item {
  border-bottom: white solid 2px;
  margin-left: 1em;
  transition-property: all;
  transition-duration: 300ms;
}

.nav-item:hover {
  border-bottom: red solid 2px;
}

#presentation{
  width: 40%;
  margin: 0 auto;
  padding-top: 10em;
  padding-bottom: 100vh;
}

#presentation p {
  text-align: justify;
}

#photo {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 100%;
}

#skills {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

.title {
  width: fit-content;
  margin-left: 10%;
  margin-top: 10%;
}

.underline {
  border-bottom: red solid 2px;
}

.list {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

#education {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

#personalSynthesis {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

@media only screen and (max-width: 800px) {
  #presentation {
    width: 65%;
  }

  .title {
    margin-left: 0;
  }
  
  .list {
    margin-left: 10%;
  }
}