*{
    font-family: Arial, Helvetica, sans-serif;
}

body h1{
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
}

div{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    margin: 20px auto 20px auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.336);
    border-style: solid;
    border-width: thin;
    border-color: black;
}

#txtNome{
    text-align: center;
}

#nome{
    font-size: 30px;
}

.obj{
    text-align: center;
}

#fPerfil{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 2.7%;
    left: 2.7%;
}

#rodape{
    text-align: center;
    font-size: 30px;
}

#dados{
    text-align: center;
}
